/* Reset styles for consistent rendering across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set base font and line-height for the entire document */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Set the color scheme with a fallback for browsers that don't support it */
body {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; /* Dark mode color */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Use minimum viewport height */
  align-items: stretch; /* Stretch children to fill the width */
}

/* Specific styles for light mode */
@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #ffffff; /* Light mode color */
  }
}




/* Basic heading style */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Basic button styles */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  /* Adjust the font size for h1 elements */
  h1 {
    font-size: 2.5em;
  }
}
