.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #25a089, #2a3f9e);
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand h1 {
  margin-left: 10px;
  font-size: 24px;
}

.logo {
  height: 50px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #5805d5;
}

.nav-link button{
  background-color: none;

}
